/* Подлкючение шрифта */
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_boldit.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_extrabold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_blackit.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


/* Базовые стили: переменные, html, body */
:root {
    /* шрифты проекта */
    --font-main: 'ProximaNova', sans-serif;

    /* цвета проекта */
    --color-white: #fff;
    --color-black: #000;
    --color-deep-indigo: #262b3e;
    --color-vivid-blue: #1e73be;
    --color-soft-white: #ffffffbf;
    --color-pale-blue: #dbe9ff;
    --color-pale-blue-f: #f7f8fab9;
    --color-light-blue: #f3f6fc;

    --gradient-background: #f2f8fc;

    --footer-text-color: #dfe1e2;
    --footer-link-hover-color: #fff;
    --footer-bg-color: #282a2b;
}

* {
    /* transition: all .35s ease; */
    /* outline: 1px solid red; */
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

html {
    background-color: transparent;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-main) !important;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.55;
    min-height: 100%;
    color: #717171;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

main {
    min-height: 0;
    flex-grow: 1;
}

main>section {
    padding: 70px 0;
}

section.bg-blue {
    margin: 70px auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.3;
}

h1,
.h1 {
    font-size: 3.8rem;
    font-weight: 600;
}

h2,
.h2 {
    font-size: 2.5rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.3rem;
}

h5,
.h5 {
    font-size: 1rem;
}

h6,
.h6 {
    font-size: 0.85rem;
}

a {
    color: var(--color-vivid-blue);
}

.link-effect {
    display: inline-block;

    background-position: 0% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px, 100% 1px;
    background-image: linear-gradient(to right, currentcolor 0, currentcolor 100%), linear-gradient(to right, #ffffffa6 0, #ffffffa6 100%);

    text-decoration: none;
    transition: all .2s ease-in-out;
    width: fit-content;
}


.link-effect:is(:focus-within,
    :focus,
    :hover,
    :active) {
    background-size: 100% 1px, 100% 1px;
}

.logo {
    max-width: 240px;
    height: auto;
    transition: all .3s ease-out;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}

.logo img {
    padding: 0;
    margin: 0;
    min-height: 50px;
    max-height: 60px;
    max-width: 200px;
    width: 100%;
    vertical-align: middle;
}

.logo:hover {
    opacity: 0.75;
}

.btn-default {
    line-height: 1 !important;
    font-weight: 500;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    align-content: center;
    position: relative;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #0095cd;
    padding: 17px 20px;
    background-color: var(--color-vivid-blue);
    color: #fff;
    /* background-color: #0095cd; */
    width: fit-content;
    box-shadow: none;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: .4px;
    gap: .5rem;
    transition: all 0.2s ease-in-out;
}

.bg-blue {
    background-color: var(--color-vivid-blue);
    border-color: var(--color-vivid-blue);
    color: #fff;
}

.bg-blue {
    background-color: var(--color-vivid-blue);
}

.btn-white {
    background-color: var(--color-white);
    color: var(--color-vivid-blue);
}

.bg-white {
    background-color: var(--color-white);
}

.btn-default.bg-blue:hover {
    color: #ffffff;
    background-color: #175b96;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #175b96;
    border-image: initial;
}

.btn-transparent-b {
    background: transparent;
    color: var(--color-vivid-blue);
    border: 2px solid var(--color-vivid-blue) !important;
}

.btn-transparent-b:hover {
    background-color: var(--color-vivid-blue);
    color: var(--color-white);
}

.btn-transparent-w {
    background: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white) !important;
}

.btn-transparent-w:hover {
    color: var(--color-vivid-blue);
    background-color: var(--color-white);
}

.brif-btn {
    background-color: var(--color-white);
    color: var(--color-deep-indigo);
}

.brif-btn:hover {
    background-color: #f1f1f1;
}

.section-title {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.section-title:not(:last-child) {
    margin-bottom: 3.75rem;
}

@media (min-width: 991.5px) {
    .section-title {
        max-width: 75%;
    }
}

.section-title h2 {
    font-weight: 500;
    font-size: 2.75rem;
    line-height: 1.275;
    color: #0e3c5f;
    margin: 0;
}

.section-title h2~* {
    margin-top: 1.75rem;
}

.ways_txt {
    display: inline;
    transition: all 0.35s linear;
    background-size: 0 3px;
    background-repeat: no-repeat;
    background-position: left 100%;
    text-decoration: none;
}

.section-title p {
    font-size: 1.2rem;
    line-height: 1.55;
    font-weight: 400;
    margin: .8rem auto 0;
    color: var(--color-deep-indigo);
    padding: 0;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.plate-item {
    padding: 2rem;
}

.plate-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.plate-cont {
    font-size: 1.0625rem;
    font-weight: 400;
}



/* Стили топбара */
.topbar {
    display: flex;
    align-items: center;
    background: var(--footer-bg-color);
}

.topbar__widget {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    padding: 8px 0;
}

.topbar__widget a {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    text-decoration: none;
    color: var(--color-white);
    background-image: linear-gradient(to right, currentcolor 0, currentcolor 100%), linear-gradient(to right, var(--footer-bg-color) 0, var(--footer-bg-color) 100%);
}

.topbar__widget .link-effect {}

.topbar__widget a:hover {
    color: var(--color-soft-white);
}

.topbar__widget li:not(:last-child)::after {
    content: "|";
    margin: 0 .5rem;
}


/* Стили хедера */
header.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10000;
    /* top: 38.4px; */
    background-color: var(--color-white);
    transition: .4s ease-in background;
}

@media (max-width: 421px) {
    header.header__wrapper {
        top: 75px;
    }
}

@media (max-width: 294px) {
    header.header__wrapper {
        top: 98px;
    }
}

header:focus {
    outline: none;
}

header.header__wrapper:not(.header_scrolled) .header-row {
    border-bottom: 1px solid var(--color-pale-blue);
}

.header__wrapper.header_scrolled {
    background: var(--color-vivid-blue);
    color: var(--color-white);
    top: 0 !important;
    opacity: .85;
    box-shadow: 0 5px 10px 1px #00000033;
}

.header__wrapper.header_scrolled .smooth-scroll {
    color: var(--color-white);
}

.header__wrapper:not(.header_scrolled) .smooth-scroll.active {
    color: #1d7ecf;
}

.header__wrapper.header_scrolled .hamburger-inner,
.header__wrapper.header_scrolled .hamburger-inner::before,
.header__wrapper.header_scrolled .hamburger-inner::after {
    background-color: var(--color-white);
}

.header__wrapper .smooth-scroll {
    color: var(--color-deep-indigo);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.65px;
}

.header__wrapper .smooth-scroll:hover {
    color: var(--color-vivid-blue);
}

.header__wrapper .hamburger-inner,
.header__wrapper .hamburger-inner::before,
.header__wrapper .hamburger-inner::after {
    background-color: var(--color-vivid-blue);
}

.header__wrapper .logo--dark,
.header__wrapper.header_scrolled .logo--light {
    display: inline;
}

.header__wrapper .logo--light,
.header__wrapper.header_scrolled .logo--dark {
    display: none;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.navbar-collapse {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    background: none;
    position: static;
    max-height: 340px;
}

ul.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 25px;
    margin: 0;
    list-style: none;
}

.header__wrapper.header_scrolled .smooth-scroll:hover,
.header__wrapper.header_scrolled .smooth-scroll:active,
.header__wrapper.header_scrolled .smooth-scroll:focus {
    color: var(--color-soft-white);
}


/* Стили кнопки гамбургера */
.hamburger-box {
    display: none;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    transition: transform .15s ease;

}

.hamburger-inner {
    top: 50%;
    left: 0;
}

.hamburger-inner::before {
    content: "";
    top: -10px;
}

.hamburger-inner::after {
    content: "";
    top: 10px;
}

.hamburger-box.active .hamburger-inner {
    background-color: transparent;
}

.hamburger-box.active .hamburger-inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger-box.active .hamburger-inner::after {
    transform: translateY(-10px) rotate(-45deg);
}





/* Стили первого блока */
section.breadcrumb-block {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 2rem;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 1rem;
}

.breadcrumb-item {
    font-size: .95em;
    font-weight: 400;
}

.breadcrumb-item a {
    color: #707070bf;
    text-decoration: none;
}

.breadcrumb-item a {
    display: inline-block;

    background-position: 0% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px, 100% 1px;
    background-image: linear-gradient(to right, currentcolor 0, currentcolor 100%), linear-gradient(to right, var(--color-vivid-blue) 0, var(--color-vivid-blue) 100%);

    text-decoration: none;
    transition: all .2s ease-in-out;
    width: fit-content;
}


.breadcrumb-item a:is(:focus-within,
    :focus,
    :hover,
    :active) {
    background-size: 100% 1px, 100% 1px;
}

.breadcrumb-item a:hover {
    color: #e7e7e7bf;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    content: "/";
}

.breadcrumb-item a {
    color: #ffffffa2;
}

.breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--color-white);
}

.l-section-kbs {
    padding-top: 0;
    padding-bottom: 2.6rem;
}

.l-section-kbs .h1,
.l-section-kbs h1 {
    font-size: 3.8rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
    color: currentColor;
}

.page-desc {
    margin-top: 1rem;
    font-size: 1.125rem;
}

@media (min-width: 62rem) {
    .l-section-kbs {
        margin: 0 !important;
    }

    [class*=bg-].l-section-kbs .l-section-kbs__outer {
        padding-top: 0;
        padding-bottom: 0;
    }

    .l-section-kbs .l-section-kbs__outer {
        max-width: 40rem;
    }
}

@media (max-width: 61.98rem) {
    [class*="bg-"].l-section-kbs .l-section-kbs__outer {
        padding-top: 1.313rem;
        padding-bottom: 1.313rem;
    }
}






/* стили блока портфолио */
.portfolio-block {
    margin-top: 70px;
    padding: 70px 0;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    counter-reset: portfolio_card;
}

.portfolio-card {
    counter-increment: portfolio_card;
    position: relative;
}

.portfolio-card__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.portfolio-card__body {
    padding: 1.5rem;
    color: var(--color-deep-indigo);
    position: relative;
}

.portfolio-card__body-inner {
    width: 100%;
    position: relative;
}

.portfolio-card__body-inner::before {
    color: rgba(30, 115, 190, .035);
    content: "0" counter(portfolio_card);
    position: absolute;
    font-family: var(--font-main);
    font-size: 19rem;
    font-weight: 600;
    min-width: 386px;
    top: 40%;
    left: 30%;
    z-index: -10;
    transform: translateY(-50%) translateX(-50%);
}

.portfolio-card__title {
    line-height: 1.2;
    color: #0e3c5f;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

.portfolio-card__description p:first-of-type {
    margin-top: 1.6rem;
}

.portfolio-card__description p {
    margin-top: 1rem;
}

.portfolio-card__meta-link {
    display: flex;
    align-items: center;
    color: var(--color-vivid-blue);
    text-decoration: none;
    font-weight: 500;
}

.portfolio-card__meta-link svg {
    height: 16px;
    width: 16px;
    margin-right: 6px;
    align-self: center;
}

.portfolio-card__content>div {
    max-width: 100%;
    width: 50%;
}

.portfolio-card:nth-child(even) .portfolio-card__content {
    flex-direction: row-reverse;
}

.portfolio-card:nth-child(odd) .portfolio-card__body {
    padding-left: 0;
}

.portfolio-card:nth-child(even) .portfolio-card__body {
    padding-right: 0;
}

.portfolio-card:nth-child(even) .portfolio-card__body-inner::before {
    left: 74%;
}

.portfolio-card__image-wrapper {
    max-width: 100%;
    position: relative;
    top: 0;
    transition: all .3s ease-in;
}

.portfolio-card__image {
    overflow: hidden;
    max-width: 600px;
    /* width: 100%; */
    height: 100%;
    margin: 1.5rem 1.5rem 0;
    transition: all .2s ease-in-out;
}

.portfolio-card__image-wrapper:hover .portfolio-card__image {
    margin: 0 0 1.5rem 3rem;
}

.portfolio-card:nth-child(even) .portfolio-card__image-wrapper:hover .portfolio-card__image {
    margin: 0 3rem 1.5rem 0;
}

.portfolio-card__image::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 80%;
    background: 0 0;
    border: 2px solid var(--color-vivid-blue);
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(30, 115, 190, .02);
}

.portfolio-card__image img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 480px;
    object-fit: cover;
    /* display: block; */
    vertical-align: middle;
    transition: all .2s ease-in;
}

.portfolio-card:nth-child(even) .portfolio-card__image::before {
    top: 0;
    left: 0;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 1rem;
    z-index: 1000;
}

.portfolio-card__image .tags {
    width: 86%;
}

.tags__item {
    top: 20px;
    left: 20px;
    background: #fffffff2;
    border-radius: 0;
    padding: 7px 11px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    opacity: .95;
    z-index: 2;
    letter-spacing: .025rem;
    color: #262b3e;
}

.portfolio-card__meta {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-top: 20px;
}

.portfolio-card__meta-item {
    display: grid;
    grid-template-columns: 26% 1fr;
    justify-content: start;
    border-bottom: 1px solid #eee;
    padding-bottom: .6rem;
}

.portfolio-card__meta-label {
    font-weight: 600;
}

.portfolio-card__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border-bottom: 0;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 0;
}

.glightbox-container .gprev,
.glightbox-container .gnext {
    display: none !important;
}





/* Стили блока с преимуществами */
.trust-block {
    color: var(--color-white);
}

.trust-block .section-title * {
    color: var(--color-white);
}

.trust-block__categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.trust-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 0 0;
    gap: 1rem;
}

.trust-category:not(:first-child) {
    border-left: 1px solid #fff;
    padding-left: 2rem;
}

.trust-category__content {
    font-size: 1.0625rem;
    font-weight: 400;
}

.trust-category__icon svg {
    fill: currentColor;
    width: 40px;
    height: 40px;
}








/* блок как мы работаем  */
.workflow * {
    position: relative;
}

.workflow__wrapper {
    counter-reset: work_card;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    column-gap: 1rem;
    row-gap: 2rem;
    z-index: 0;
    position: relative;
}

.workflow__card {
    counter-increment: work_card;
    max-width: 100%;
    width: 100%;
    padding: 2rem 3rem;
    position: relative;
    color: var(--color-deep-indigo);
    transition: all .2s ease-in-out;
    background: radial-gradient(circle, #ffffff 1%, rgba(10, 133, 230, 0.1) 100%);
}

@media (min-width: 991.98px) {
    .workflow__card {
        width: 49%;
    }
}

.workflow__card:hover {
    transform: scale(1.04);
}

.workflow__card::before {
    color: rgba(30, 115, 190, 0.085);
    content: "0" counter(work_card);
    position: absolute;
    font-family: var(--font-main);
    max-width: 100px;
    font-size: 6rem;
    font-weight: 600;
    top: 38%;
    right: 0;
    z-index: -10;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    align-items: center;
}

.workflow__card:hover::before {
    min-height: 82px;
}

.workflow__card:nth-child(odd):before {
    justify-content: start;
    left: 16%;
}

.workflow__card:nth-child(even):before {
    justify-content: end;
    right: 2%;
}

@media (min-width: 1199.98px) {
    .workflow__wrapper::after {
        content: "";
        background: url(../images/logo/logo.svg) no-repeat center center;
        background-size: contain;
        position: absolute;
        opacity: .5;
        top: 50%;
        left: 52%;
        width: 100px;
        height: 100px;
        transform: translate(-74%, -45%);
        z-index: 1;
        filter: drop-shadow(0 4px 4px #00000066);
    }
}

.workflow__card:nth-child(1n) {
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

.workflow__card:nth-child(2n) {
    clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
}

.workflow__card:nth-child(3n) {
    clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
}

.workflow__card:nth-child(4n) {
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

.workflow-card p {
    font-size: 1.0625rem;
    font-weight: 400;
    margin-top: 1.5rem;
}




/* блок как мы работаем */
.work-process .section-title * {
    color: var(--color-white) !important;
}

.work-process__container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.work-process__column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
}

.work-process__item {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    max-width: 100%;
}

.work-process__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .35s ease;
    width: 100%;
    min-height: 65px;
}

.work-process__head .right {
    display: flex;
    justify-content: right;
    align-items: center;
    align-self: stretch;
    gap: 29px;
}

.work-process__hr {
    display: block;
    width: 120px;
    height: 1px;
    background: var(--color-white);
}

.work-process__num {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.75rem;
    padding: 0;
    width: 54px;
    height: 54px;
    background: var(--color-white);
    color: var(--color-vivid-blue);
    line-height: 1;
    transition: transform .2s ease-in-out;
}

.work-process__item:hover .work-process__num {
    transform: scale(1.2);
}

.work-process__item-title {
    margin-right: .4rem;
    margin-bottom: 0;
}

.work-process__text {
    min-height: 68px;
}

@media (min-width: 991.98px) {
    .work-process__column:not(:first-child) {
        padding-left: 5rem;
        /* border-left: 2px solid var(--color-vivid-blue); */
        border-left: 1px solid var(--color-white);
    }
}




/* блок с тарифами */
.pricing-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.pricing-card {
    padding: 2.8125rem 2.1875rem;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    color: var(--color-deep-indigo);
    transition: all .2s ease-in;
    z-index: 1;
    background-color: var(--color-white);
}

@media (min-width: 991.98px) {
    .pricing-card {
        width: 33.333%;
    }
}

.pricing-card:nth-child(odd) {
    background-color: #0a85e60c;
}

.pricing-card:nth-child(even) {
    box-shadow: 2px 0 20px 0 rgba(10, 133, 230, 0.075);
}

.pricing-card__title {
    padding-bottom: 0;
    margin-bottom: 40px;
    text-align: center;
}

.pricing-card__price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-weight: 700;
    font-size: 3rem;
    flex-wrap: wrap;
    color: var(--color-vivid-blue);
    vertical-align: middle;
    margin-bottom: 1rem;
}

.pricing-card__price * {
    margin: 0;
}

.pricing-card__price span {
    font-size: 1.75rem;
    float: inline-start;
    padding-bottom: 10px;
}

.pricing-card__price::after {
    content: url(../images/icons/pricing/ruble.svg);
}

.pricing-card__subtitle:not(.list-title) {
    text-align: center;
    margin-bottom: 1rem;
}

.list-title {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 600;
    height: auto;
    text-align: center;
}

.pricing-card__features {
    margin-bottom: 40px;
}


.pricing-card ul {
    margin-left: 30px;
    padding-left: 0;
    list-style: none;
}

.pricing-card ul>li:not(:first-child) {
    padding-top: 7px;
}

.pricing-card ul>li::before {
    content: "\25A0";
    display: inline-block;
    margin-left: -20px;
    width: 20px;
    font-size: 12px;
    color: var(--color-vivid-blue);
}

.pricing-card ol {
    margin-left: 5px;
    list-style: none;
    counter-reset: li;
    padding-left: 2rem;
}

.pricing-card ol>li:not(:first-child) {
    counter-increment: li;
    margin-top: 7px;
}

.pricing-card ol>li::before {
    content: counter(li) ".";
    color: var(--color-vivid-blue);
    display: inline-block;
    width: 20px;
    margin-left: -20px;
    font-weight: 500;
}

.pricing-card ul>li::before {
    content: "\25A0";
    display: inline-block;
    margin-left: -20px;
    width: 20px;
    font-size: 12px;
    color: var(--color-vivid-blue);
}

.pricing-card_btns {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    align-self: stretch;
    height: 100%;
}

.pricing-card_btn {
    bottom: 0;
}





/* стили для блока с типами сайтов вариант 1*/
.site-types__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 100%;
    width: 100%;
}

.site-type__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    box-shadow: 2px 0 20px 0 rgba(10, 133, 230, 0.075);
    color: var(--color-vivid-blue);
    background-size: cover;
    background-position: center;
    background-color: var(--color-white);
    transition: all .3s ease-in;
}

.site-type__card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-white);
    z-index: 0;
    transition: background-color 0.3s ease-in-out;
}

.site-type__card:hover {
    transform: scale(1.02);
}

.site-type__card:hover:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffffffdc;
    z-index: 0;
}

.site-type__card>* {
    position: relative;
    z-index: 2;
}

@media (min-width: 991.98px) {
    .site-type__card {
        width: 31.68%;
    }
}

.site-type__icon.site-type__icon {
    width: 60px;
    height: 60px;
}

.site-type__icon img {
    width: 100%;
    height: 100%;
}

.site-type__title {
    color: var(--color-deep-indigo);
}

.site-type__text {
    color: var(--color-deep-indigo);
}

.site-type__text:nth-child(:last-child) {
    padding-bottom: 0;
}

#type-landing {
    background-image: url(../images/cards/site-types/type-landing.jpg);
}

#type-portal {
    background-image: url(../images/cards/site-types/type-portal.jpg);
}

#type-shop {
    background-image: url(../images/cards/site-types/type-shop.jpg);
}

#type-cabinet {
    background-image: url(../images/cards/site-types/type-cabinet.jpg);
}

#type-admin-panel {
    background-image: url(../images/cards/site-types/type-admin-panel.jpg);
}

#type-crm {
    background-image: url(../images/cards/site-types/type-crm.jpg);
}

#type-portfolio {
    background-image: url(../images/cards/site-types/type-portfolio.jpg);
}

#type-mobile {
    background-image: url(../images/cards/site-types/type-mobile.jpg);
}



/* СТИЛИ ДЛЯ АККОРДЕОНА ВОПРОС ОТВЕТ */
.accordion {
    width: 75%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

.accordion-item {
    border: none !important;
}

.accordion-item:not(:last-child) {
    margin: 0 auto 1rem;
}

.accordion-header {
    cursor: pointer;
    align-items: center;
    appearance: none;
    background: #0a85e60c;
    border: none;
    color: var(--color-vivid-blue);
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 3.4rem 1rem 2rem;
    position: relative;
    text-align: left;
    width: 100%;
    min-height: 54px;
    transition: all .16s ease-in-out;
}

.accordion-header:hover {
    background: #2498f01e;
}

.accordion__icon {
    height: 21px;
    width: 21px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
}

.accordion-header.active .accordion__icon {
    transform: translateY(-50%) rotate(45deg);
}

/* .accordion-header:not(.active):hover .accordion__icon {
    transform: translateY(-50%) rotate(25deg);
} */


.accordion__icon::before,
.accordion__icon::after {
    content: "";
    position: absolute;
    background: var(--color-vivid-blue);
    transition: 0.3s;
}

.accordion__icon::before {
    width: 100%;
    height: 3px;
    top: 9px;
    left: 0;
}

.accordion__icon::after {
    width: 3px;
    height: 100%;
    top: 0;
    left: 9px;
}

.accordion-content {
    max-height: 0;
    opacity: 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease, opacity 0.2s ease;
}

.accordion-content.active {
    display: block;
    max-height: 500px;
    opacity: 1;
    padding: 1rem 2rem;
}

.accordion-content p:not(:first-child) {
    margin-top: 1rem;
}

.accordion-content :is(strong, b, a) {
    color: var(--color-vivid-blue);
}

.accordion-content ul {
    margin-left: 30px;
    padding-left: 0;
    list-style: none;
}

.accordion-content ul>li {
    padding-top: 7px;
}

.accordion-content ul>li::before {
    content: "\25A0";
    display: inline-block;
    margin-left: -20px;
    width: 20px;
    font-size: 12px;
    color: #0095cd;
}

.accordion-content ol {
    margin-left: 5px;
    list-style: none;
    counter-reset: li;
    padding-left: 2rem;
}

.accordion-content ol>li {
    counter-increment: li;
    margin-top: 7px;
}

.accordion-content ol>li::before {
    content: counter(li) ".";
    color: #0095cd;
    display: inline-block;
    width: 20px;
    margin-left: -20px;
    font-weight: 500;
}

.accordion-content :is(h1, h2, h3, h4, h5, h6) {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #1e73be;
}


/* стили для блока остались вопросы */
.contact-questions a.btn-default {
    text-transform: none;
}

.contact-questions a.btn-default svg {
    width: 30px;
    height: 30px;
}

.contact-questions__btns {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* стили формы обратной связи */
.feedback-block {
    padding-bottom: 60px;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    padding: 0;
    margin: 0 auto;
    border: 0 solid #d5d9e4;
    border-radius: 2px;
    list-style: none;
}

.feedback-form {
    display: grid;
    width: 100%;
    gap: 1.15rem;
    padding: 0;
    list-style: none;
}

.form-group {
    display: grid;
    row-gap: 1.85rem;
    padding: 0;
    list-style: none;
}

.feedback-form__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
}

.captcha-fields {
    grid-template-columns: 280px 1fr 1fr;
    grid-column-gap: 2rem;
}

.feedback-form__group {
    display: grid;
    position: relative;
    width: 100%;
    flex: 1;
    gap: .3rem;

    max-width: none !important;
    padding: 0;
    margin: 0;
    border: 0;
    transition: box-shadow .1s ease;
}

.feedback-form__group--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-form__consent {
    margin: .7rem 0 1.15rem;
}

.gropu_check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.4rem;
}

.feedback-form__label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #444;
}

.feedback-form__label-t {
    font-size: .875rem;
}

.form__required {
    color: var(--color-vivid-blue);
    font-weight: 500;
}

.feedback-form__control {
    width: 100%;
    height: calc(3rem + 2px);
    padding: .5rem 1rem;

    flex-grow: 1;
    box-sizing: border-box;
    position: relative;

    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: #646464b3;

    appearance: none;
    background-color: var(--color-white);
    border: 1px solid #0009;
    border-radius: .3rem;
    box-shadow: none;

    transition: border-color 0.15s ease, box-shadow 0.15s ease;
}

.feedback-form__control:focus {
    background-color: var(--color-white);
    border-color: var(--color-vivid-blue);
    box-shadow: 2px 0 35px 0 #4458901f;
    outline: none;
}

.feedback-form__control::placeholder {
    color: #646464b3;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.feedback-form select {
    background-image: url(../images/icons/form/select-nf.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1rem);
    background-position-y: 1.2rem;
    background-size: .8rem;
    /* -moz-appearance: none; */
}

.feedback-form select:focus-within {
    background-image: url(../images/icons/form/select-f.png);
}

.feedback-form textarea {
    height: auto;
    resize: none;
    height: 120px;
}

.legal-link {
    color: var(--color-vivid-blue);
}

.invalid-field {
    border-color: red !important;
}

.hs-error-msgs {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: .25rem;
    font-size: .875rem !important;
    color: #ff3535;
    text-align: left;
}

.invalid-field~.hs-error-msgs {
    display: block;
}

.hs-error-msgs a,
.hs-error-msgs label {
    color: #dc4444;
    font-size: .875rem !important;
    font-style: normal;
    font-weight: 400;
}

.form-message {
    display: none;
    position: fixed;
    z-index: 11000;
    top: 0;
    left: 0;

    width: 100%;
    padding: 25px 0;
    text-align: center;
    font-weight: 500;
}

.form-message.success {
    color: #ffffff;
    background-color: #30942d;
}

.form-message.error {
    color: #ffffff;
    background-color: #da3232;
}

.modals__message {
    display: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #1e73be;
}

.modals__message-errors {
    background-color: #dc4444;
}




/* стили для баннера */
.banner-brif {
    margin-bottom: 0;
}

.banner-brif__row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    color: var(--color-white);
    overflow: hidden;
    position: relative;
    background: url(../images/banners/brif-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-brif__row::before {
    content: "";
    /* background: radial-gradient(circle, #3d9be9 0%, #1d7ecf 100%); */
    background: var(--color-vivid-blue);
    opacity: .90;
    position: absolute;
    clip-path: polygon(0 0, 60% 0, 50% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .25s linear;
}

.banner-brif__row.hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.banner__text-col {
    padding: 3rem;
    max-width: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    position: relative;
    z-index: 10;
}

.banner__text-col p {
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
}

.banner__image-col {
    max-width: 100%;
    width: 100%;
    float: right;
    height: auto;
    transition: clip-path .3s ease-in;
    display: none;
}

.banner__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
    border-radius: 0 .15rem .15rem 0;
}







/* Стили футера */
.footer__wrapper {
    background-color: var(--footer-bg-color);
    color: var(--color-white);
    padding: 2rem 0 3rem;
}

.footer__widget .footer__link {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer__link {
    color: var(--footer-text-color);
    text-decoration: none;
}

.footer__link:hover {
    color: var(--footer-link-hover-color);
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 30px;
    padding-top: 16px;
    row-gap: 10px;
    border-top: 1px solid #ffffff80;
}

.footer__column_navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    width: 100%;
}

.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    color: var(--color-white);
    width: 100%;
}

.footer__nav li:not(:last-child)::after {
    content: "|";
    margin: 25px;
}

.footer__nav_link {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.65px;
}

.footer__nav_link:hover {
    color: var(--color-soft-white);

}

.footer__column_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    width: 100%;
    border-top: 1px solid #ffffff80;
    padding: 10px;
}

.footer__logo_description {
    width: 70%;
    font-size: 0.975rem;
}

.footer__column_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.25rem;
    width: 100%;
    flex: 1;
    column-gap: 6rem;
    row-gap: 1rem;
}

.footer__widget {
    font-weight: 500;
}

.footer-bottom__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-bottom__list li:not(:last-child)::after {
    content: "|";
    margin: 0 .5rem;
}

.icon {
    width: 30px;
    height: 30px;
}

/* Очень очень большие устройства (большие десктопы, менее 1600px) */
@media (max-width: 1599.98px) {
    .choose-variant:after {
        width: 1450px;
        height: 700px;
    }
}

/* Очень большие устройства (большие десктопы, менее 1400px) */
@media (max-width: 1399.98px) {
    .entry-header {
        max-width: 1440px;
        margin-bottom: 0;
    }

    .curve-border {
        margin-top: 0;
    }

    .entry-header-intro {
        font-size: 2.25rem;
    }

    .choose-variant:after {
        width: 1450px;
        height: 700px;
    }

    .choose-variant__halve {
        flex-direction: column;
    }
}

/* Большие устройства (десктопы, менее 1200px) */
@media (max-width: 1199.98px) {

    .bg-blue .h1,
    .bg-blue h1 {
        font-size: calc(1.4625rem + 2.55vw);
    }

    .entry-header-intro {
        font-size: 2.25rem;
    }

    .pricing-card__title {
        margin-bottom: 20px;
    }

    .pricing-card__price {
        margin-bottom: 20px;
        font-size: 2.6rem;
    }

    .site-types__container {
        flex-direction: column;
    }

    .card-type__title {
        font-size: 2rem;
    }

    .card-type__desc {
        font-size: 1.2rem;
    }

    .work-process__container {
        flex-direction: column;
        gap: 3rem;
    }

    .work-process__column {
        width: 100%;
    }

    .work-process__item {
        width: 100%;
    }

    .work-process__head .right {
        flex: 1;
        width: 100%;
    }

    .work-process__hr {
        flex: 1;
        width: 100%;
    }

    .work-process__item-title {
        margin-right: 25px;
    }

    .work-process__hr {
        width: 100%;
    }

    .work-process__column:not(:first-child) {
        padding-left: 0;
        border-left: 0;
    }
}

/* Средние устройства (планшеты, менее 992px) */
@media (max-width: 991.98px) {
    .l-section-kbs {
        margin-top: 0 !important;
    }

    .l-section-kbs .h1,
    .l-section-kbs h1 {
        line-height: 1.5;
    }

    .breadcrumb {
        padding: 0;
        margin-bottom: 1rem;
    }

    [class*=bg-].l-section-kbs .l-section-kbs__outer {
        padding-top: 0;
        padding-bottom: 0;
    }

    .choose-variant__halve:first-of-type h2,
    .section-title h2 {
        font-size: 1.8rem;
    }

    .choose-variant__halve:first-of-type p,
    .section-title p {
        font-size: 1rem;
    }

    .portfolio-card__content {
        flex-direction: column !important;
    }

    .portfolio-card__content>div {
        width: 100%;
    }

    .portfolio-card__body {
        padding-left: 0;
        padding-right: 0;
    }

    .portfolio-card__image-wrapper {
        padding: 1rem 1rem 1rem 0;
    }

    .portfolio-card:nth-child(even) .portfolio-card__image-wrapper {
        padding: 1rem 0 1rem 1rem;
    }

    .portfolio-card__body-inner::before,
    .portfolio-card:nth-child(even) .portfolio-card__body-inner::before {
        top: 40%;
        left: 50%;
    }

    .portfolio-card__image {
        width: 100%;
        margin: 0;
    }

    .portfolio-card__image img {
        max-width: 100%;
    }

    .testimonial__stars img {
        width: 32%;
    }

    .choose-variant:after {
        width: 1250px;
        height: 540px;
    }

    .pricing-card__price {
        font-size: 3rem;
    }

    .accordion {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }

    .trust-block__categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .trust-category:not(:first-child)::before {
        content: "";
        background-color: #fff;
        width: 60%;
        height: 1px;
        margin-bottom: 1rem;
    }

    .trust-category:not(:first-child) {
        border-left: none;
        padding-left: 0;
    }

    .icon {
        width: 26px;
        height: 26px;
    }

    .banner-brif__row {
        flex-direction: column-reverse;
        background: radial-gradient(circle, #3d9be9 0%, #1d7ecf 100%);
    }

    .banner-brif__row::before {
        display: none;
    }

    .banner__text-col,
    .banner__image-col {
        width: 100%;
    }

    .banner__text-col {
        align-items: center;
        text-align: center;
    }

    .banner__text-col p {
        font-size: 1.215rem;
    }

    .banner__image-col {
        display: inline;
        height: 200px;
    }

    .footer__top {
        justify-content: start;
        row-gap: 20px;
        margin-bottom: 20px;
    }

    .footer__logo_description {
        text-align: center;
        width: 100%;
    }

    .footer__column_contacts {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 24px;
    }

    .footer__contacts-phones {
        justify-content: start;
        align-items: center;
        row-gap: 20px;
    }

    .footer__nav,
    .footer__bottom {
        text-align: center;
        row-gap: 20px;
    }

    .footer__documents {
        text-align: center;
    }
}

/* Маленькие устройства (горизонтальные телефоны, менее 768px) */
@media (max-width: 767.98px) {
    .header-row {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-collapse {
        display: none !important;
        position: relative;
        left: 0;
        right: 0;
        z-index: 1200;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 2px 0 35px 0 #4458901f;
        border-top: 1px solid var(--color-pale-blue);
    }

    .navbar-collapse.open {
        display: flex !important;
    }

    ul.navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .navbar-nav li {
        width: 100%;
        border-bottom: 1px solid var(--color-pale-blue);
    }

    .navbar-nav li:last-child {
        border-bottom: none;
    }

    .navbar-nav li>a {
        display: block;
        width: 100%;
        padding: 15px 0;
    }

    .hamburger-box {
        float: right;
        width: 30px;
        height: 30px;
        position: relative;
        top: 2px;
        margin: 10px 0;
        padding: 0;
        background-color: transparent;
        background-image: none;
        border: none;
        border-radius: 0;
        display: block;
    }

    .portfolio-card__image {
        margin: 0;
    }

    .entry-header {
        margin-top: 0;
    }

    .author__info {
        text-align: center;
        color: var(--color-black);
    }

    .entry-header {
        display: block;
    }

    .entry-header-title-wrap {
        padding: calc(10px * 2) 0;
    }

    .entry-header-intro,
    .entry-header-text {
        text-align: start;
    }

    .entry-header-image {
        position: relative;
        width: 100%;
        margin: 0 auto;
        aspect-ratio: 4 / 3;
        border-radius: 0;
        padding: calc(10px * 2) 0;
        box-shadow: none;
    }

    .entry-header-image img {
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border: 2px solid white;
    }

    .portfolio-card__body-inner::before,
    .portfolio-card:nth-child(even) .portfolio-card__body-inner::before {
        top: 40%;
        left: 54%;
    }

    .element-type-heading {
        margin-bottom: 1rem;
    }

    .site-types__cards {
        flex-direction: column;
    }

    .feedback-form__fields {
        display: block;
    }

    .web-variant {
        width: 100%;
    }

    .work-process__num {
        font-size: 1rem;
        width: 45px;
        height: 45px;
    }

    .choose-variant:after {
        display: none;
    }
}

/* Очень маленькие устройства (портретные телефоны, менее 576px) */
@media (max-width: 575.98px) {
    .portfolio-card__stack {
        grid-template-columns: 1fr;
    }

    .portfolio-card__stack .portfolio-card__meta-label {
        margin-bottom: 8px;
    }

    .tags__item {
        font-size: 8px;
    }

    .site-type__card .tags__item {
        font-size: .8rem;
    }

    .portfolio-card__image img {
        max-height: 352px;
    }

    .workflow__card {
        padding: 45px 32px 20px;
    }

    /* вариант 1 */
    .workflow-card__text {
        padding-right: 100px;
    }

    /* вариант 2 */
    .workflow-card__text {
        padding-right: 0;
    }

    .pricing-card__price {
        font-size: 2.6rem;
    }

    .card-type__title {
        font-size: 1.6rem;
    }

    .card-type__desc {
        font-size: 0.875rem;
    }
}